body {
    background-image: url("../assets/images/fondopagina.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
}

#carouselExampleCaptions {
    margin-top: 5rem;  
    width: 65%;  
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
main {
    div {
        h2 {
            background-color: black;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            font-family: 'Japan';
            color: rgb(216, 0, 0);
            padding: 1.375rem;
            margin-top: 4rem; 
            width: 65%;  
            margin-left: auto;
            margin-right: auto;
            border-radius: 15px;
        }
    }
}
.card-img-overlay {
    padding: 15px; 
}

.card-text {
    font-size: 1rem; 
    overflow: auto; 
    height: 300px;
}
.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'grafitti';
    font-size: 3.5rem;
}
.card {
    margin-top: 1.875rem;
}
.mainclase {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}
.section-main {
    background-color: rgb(84, 84, 84);
    color: black;
    width: 50%;
    padding: 1.25rem;
    text-align: center;
    display: grid;
    place-items: center;
}
.section-main h2 {
    color: rgb(171, 76, 144);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto';
    text-decoration: underline;
}
.hola {
    color: white ;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-family: 'Japan' ;
    font-size: .75rem;
    line-height: 1.5;
    padding: 1.25rem;

}
.section-main p {
    color: white ;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 1.25rem;
}
.formulario {
    max-width: 800px; 
    margin: 0 auto; 
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .875rem;
}

fieldset {
    width: 100%;
    border: none;
    font-size: .875rem;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: .875rem;
}

.column {
    flex: 1 1 calc(50% - 10px);
    margin-bottom: 20px;
}

input[type="text"],
input[type="submit"],
input[type="reset"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"],
input[type="reset"] {
    cursor: pointer;
    background-color: #007bff; 
    color: white;
    border: none;
}

input[type="reset"] {
    background-color: #6c757d; 
}

@media (max-width: 600px) {
    .column {
        flex: 1 1 100%;
    }
}
.formularios {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50%;
    padding: 1.375rem;
    margin-top: 4rem; 
    width: 65%;  
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
.legends {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto';
}
.small-img {
    max-width: 50% !important; 
}

.custom-card {
    font-family: 'Roboto' !important; 
    font-size: 1rem !important;
}

.custom-text {
    font-size: 1.5rem !important; 
    font-family: 'Roboto' !important;
}
.custom-card {
    min-height: 400px; 
    background-image: url('../assets/images/cardfondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

