@font-face {
    font-family: 'future';
    src: url('../assets/fonts/Future Shit.otf');
}

@font-face {
    font-family: 'grafitti';
    src: url('../assets/fonts/adrip1.ttf');
}

@font-face {
    font-family: 'japan';
    src: url('../assets/fonts/Old Japanese.otf');
}
